
.code{font-size: 14px;padding:.5em 2em;color:#abb2bf;background-color:#333;border-radius: 4px;}.code code{background-color:inherit;}.code .str{color:#95c275}.code .cls{color:#d09761}.code .tag{color:#df616a}.code li{padding:.25em}
